<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="100" alt="FlexBus Logo" src="assets/flixbus_logo.svg" />
  <div class="spacer"></div>
  <a aria-label="Linkedin Elkhan" target="_blank" href="https://www.linkedin.com/in/ekolx/" title="EKO LX">
    <in-logo-svg></in-logo-svg>
  </a>
</div>

<!-- Main content -->
<div class="content" role="main">
  <div class="card highlight-card card-small">
    <bus-svg></bus-svg>
    <span>Welcome, {{ name }}!</span>
  </div>

  <p>Let's get started!</p>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
      <span>Stations</span>
      <arrow-svg></arrow-svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Buses</span>
      <arrow-svg></arrow-svg>
    </a>
  </div>
</div>

<router-outlet></router-outlet>