$toolbar-height: 60px;

.toolbar {
  height: $toolbar-height;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;

  img {
    cursor: pointer;
    width: 100px;
    margin: 0 16px;
  }
}

.spacer {
  flex: 1;
}

.container {
  padding: 30px 15px;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 12px;
}
