<form [formGroup]="busForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>{{ title }}</h2>

  <div mat-dialog-content>
    <section>
      <mat-form-field>
        <input matInput type="text" placeholder="Plate number" formControlName="plateNumber" />
        <mat-error *ngIf="plateNumber.errors && plateNumber.errors.wrongFormat">Format is BUS-XXX-XXX where X is an
          alpha-numeric
          character</mat-error>
        <mat-error *ngIf="plateNumber.errors && plateNumber.errors.isExist">Bus with plate number
          {{ plateNumber.value }} is already
          exist</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bus type</mat-label>
        <mat-select formControlName="busType">
          <mat-option *ngFor="let type of busTypes" [value]="type.value">
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <mat-label>Station</mat-label>
        <mat-select formControlName="stationId">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let station of stations" [value]="station.id">
            {{ station.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="stationId.invalid">For selected station there are no available parking slots</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Parking slot" formControlName="slotNumber" />
      </mat-form-field>
    </section>
  </div>

  <mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" [disabled]="busForm.invalid">
      Save
    </button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>

<div class="overlay" *ngIf="isBusy">
  <mat-spinner></mat-spinner>
</div>