<div>
    <h2>Bus List</h2>

    <button>Add</button><button>Edit</button><button>Delete</button>

    <table>
        <thead>
            <tr>
                <td><input type="text" id="plateNumber" placeholder="filter by bus number" /></td>
                <td><input type="text" id="busType" placeholder="filter by bus type" /></td>
                <td><input type="text" id="station" placeholder="filter by bus station" /></td>
            </tr>
            <tr>
                <th>Plate number</th>
                <th>Type</th>
                <th>Station & slot ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BUS-CZ3-456</td>
                <td>Regular</td>
                <td><button>1 & 3</button></td>
            </tr>
            <tr>
                <td>BUS-CZ3-456</td>
                <td>Doubledecker</td>
                <td><button>1 & 5</button></td>
            </tr>
            <tr>
                <td>BUS-CZ3-456</td>
                <td>MiniBus</td>
                <td><button>2 & 2</button></td>
            </tr>
            <tr>
                <td>BUS-CZ3-456</td>
                <td>HybridBus</td>
                <td><button>2 & 7</button></td>
            </tr>
        </tbody>
    </table>
    <div><a href="#1">1</a><a href="#2">2</a><a href="#3">3</a><a href="#14">...</a><a href="#15">15</a></div>
</div>