table,
mat-form-field:not(.column-field) {
  width: 100%;
}

section.filter-section mat-form-field:not(:last-child) {
  margin-right: 10px;
}

.done {
  margin-right: 25px;
}

.clear {
  margin-left: 5px;
}
