<section>
  <button mat-icon-button routerLink="/">Home</button>
  -
  <button mat-icon-button disabled>Bus List</button>
</section>

<br />

<mat-card>
  <mat-card-title>Bus List</mat-card-title>

  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="onAdd()">Add</button>
    <button
      mat-stroked-button
      color="warn"
      (click)="onEdit()"
      [disabled]="selection.selected.length == 0"
    >
      Edit
    </button>
    <button
      mat-stroked-button
      color="accent"
      (click)="onDelete()"
      [disabled]="selection.selected.length == 0"
    >
      Delete
    </button>
  </mat-card-actions>

  <mat-card-content>
    <!-- <section class="filter-section">
      <mat-form-field class="column-field">
        <mat-label>Filter by Station</mat-label>
        <mat-select>
          <mat-option *ngFor="let value of stations" [value]="value">
            {{ value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="column-field">
        <mat-label>Filter by Bus type</mat-label>
        <mat-select>
          <mat-option *ngFor="let value of stations" [value]="value">
            {{ value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="column-field">
        <input matInput placeholder="Filter by Bus number" />
      </mat-form-field>
    </section> -->

    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter by any column"
      />
    </mat-form-field>

    <table mat-table matSort [dataSource]="busList">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="plateNumber">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          Plate Number
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.plateNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="busType">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Bus Type</th>
        <td mat-cell *matCellDef="let element">{{ element.busTypeName }}</td>
      </ng-container>

      <ng-container matColumnDef="stationAndSlot">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          Station & Slot
        </th>
        <td mat-cell *matCellDef="let element">{{ element.stationAndSlot }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (dblclick)="onDblClick(row)"
      ></tr>
    </table>
  </mat-card-content>

  <mat-card-footer>
    <mat-paginator
      [length]="busList.data.length"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
