<div class="content" role="main">
  <div class="card highlight-card card-small">
    <bus-svg></bus-svg>
    <span>Welcome, {{ name }}!</span>
  </div>

  <h3>Let's see how widely we spread around the world!</h3>

  <div class="card-container">
    <a class="card" rel="noopener" routerLink="/stations">
      <span>Stations</span>
      <arrow-svg></arrow-svg>
    </a>

    <a class="card" rel="noopener" routerLink="/buses">
      <span>Buses</span>
      <arrow-svg></arrow-svg>
    </a>
  </div>
</div>
