<div>
    <h2>Station list</h2>
    <div>
        <button>Add</button><button>Edit</button><button>Delete</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Parking slots</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>12</td>
            </tr>
            <tr>
                <td>2</td>
                <td>23</td>
            </tr>
            <tr>
                <td>3</td>
                <td>17</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h2>Update Station</h2>
    <input type="number" id="id" value="1" />
    <input type="number" id="slotCount" value="12" />
    <button>View slots</button>
    <div>
        <button>Save</button>
        <button>Cancel</button>
    </div>
</div>

<div>
    <h2>Slots</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Plate number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>BUS-CZ3-456</td>
            </tr>
            <tr>
                <td>2</td>
                <td>BUS-456-AZE</td>
            </tr>
            <tr>
                <td>3</td>
                <td>BUS-789-123</td>
            </tr>
            <tr>
                <td>4</td>
                <td>&lt;&lt;Empty&gt;&gt;</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h2>Update Slot</h2>
    <input type="number" id="id" value="1" />
    <input type="text" id="plateNumber" value="BUS-123-456" />
    <div>
        <button>Save</button>
        <button>Cancel</button>
    </div>
</div>